ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  text-align: justify;
  margin-top: 50px;
  margin-left: 75px;
  margin-right: 75px;
}

section li {
  /* text-align: justify; */
  margin-top: 10px;
}

.info ul {
  margin-top: 50px;
}

.info li {
  font-size: 16px;
  text-align: left;
  margin-top: 10px;
  margin-left: 50px;
}