body {
  color: black;
  font-family: helvetica, sans-serif;
  /* text-align: center; */
}

.navbar {
  /* overflow: hidden; */
  background-color: white;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar h1 a {
  font-size: 18px;
}

.navbar .divider {
  float: left;
  height: 30px;
  width: 1px; /* edit this if you want */
  background-color: #d4d6d9
 }

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 12px;
  /* color: white; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.review-dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.review-dropdown .dropbtn {
  font-size: 12px;
  border: none;
  outline: none;
  /* color: white; */
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  /* color: black; */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Show the dropdown menu on hover */
.review-dropdown:hover .dropdown-content {
  display: block;
}

main {
  margin-top: 100px;
  color: #f4f4f4;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  font-size: 10px;
}

li:not(:first-child):before {
  content: " | ";
}

a:link {
  text-decoration: none;
  color: #48494a;
}

a:visited {
  text-decoration: none;
  color: #48494a;
}

a:hover {
  /* text-decoration: underline; */
  color: #4191CC;
}

img {
  height: 360px;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.row {
  margin-top: 25px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  position: relative;
  float: left;
  width: 32%;
  padding: 5px;
}

.column-2 {
  position: relative;
  float: left;
  width: 48%;
  padding: 5px;
}

.divider {
  float: left;
  height: 360px;
  width: 1px; /* edit this if you want */
  background-color: #d4d6d9
 }

/* .column div {
  position: absolute;
  background: gray;
  color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
  text-align: center;
 } */

/* .hover-text:hover {
  opacity: 1;
} */

/* .column:hover div { */
  /* background-color: #4CAF50;
  color: white; */
  /* position: relative;
  font-size: 12px;
  padding: 6px 32px;
  visibility: visible;
  opacity: 0.7;
} */

.hover-middle {
  /* transition: .5s ease; */
  /* transition: visibility 0s, opacity 0.5s linear; */
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.column:hover .hover-middle {
  opacity: 0.8;
}

.column-2:hover .hover-middle {
  opacity: 0.8;
}

.column:hover img {
  opacity: 0.3;
}

.column-2:hover img {
  opacity: 0.3;
}

.hover-middle div {
  background-color: #d4d6d9;
  color: #48494a;
  font-size: 10px;
  padding: 8px 32px;
}
