body {
  color: black;
  font-family: helvetica, sans-serif;
  text-align: center;
}

main {
  margin-top: 25px;
  color: #f4f4f4;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  font-size: 11px;
}

li:not(:first-child):before {
  content: " | ";
}

a:link {
  text-decoration: none;
  color: #48494a;
}

a:visited {
  text-decoration: none;
  color: #48494a;
}

a:hover {
  /* text-decoration: underline; */
  color: #4191CC;
}

img {
  height: 360px;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.row {
  margin-top: 25px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  position: relative;
  float: left;
  width: 32%;
  padding: 5px;
}

.column-2 {
  position: relative;
  float: left;
  width: 48%;
  padding: 5px;
}

.divider {
  float: left;
  height: 360px;
  width: 1px; /* edit this if you want */
  background-color: #d4d6d9
 }

/* .column div {
  position: absolute;
  background: gray;
  color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
  text-align: center;
 } */

/* .hover-text:hover {
  opacity: 1;
} */

/* .column:hover div { */
  /* background-color: #4CAF50;
  color: white; */
  /* position: relative;
  font-size: 12px;
  padding: 6px 32px;
  visibility: visible;
  opacity: 0.7;
} */

.hover-middle {
  /* transition: .5s ease; */
  /* transition: visibility 0s, opacity 0.5s linear; */
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.column:hover .hover-middle {
  opacity: 0.8;
}

.column-2:hover .hover-middle {
  opacity: 0.8;
}

.column:hover img {
  opacity: 0.3;
}

.column-2:hover img {
  opacity: 0.3;
}

.hover-middle div {
  background-color: #d4d6d9;
  color: #48494a;
  font-size: 10px;
  padding: 8px 32px;
}
